.DS_Store
node_modules/
.editorconfig
.babelrc
*.tgz
dist/array
dist/date
dist/global
dist/number
dist/optimize
dist/string
dist/index.js
dist/_virtual/**

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# 以下发布npm时打开，github注销
index.html
readme/**
.gitignore
rollup.config.js
src
server.mjs
.eslintrc.js
doc_conf.js
layout.tmpl 