.DS_Store
node_modules/
.editorconfig
.babelrc
*.tgz


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# 以下发布npm时注销，github打开

index.html
readme/**
.gitignore
rollup.config.js
src
server.mjs
.eslintrc.js
doc_conf.js
layout.tmpl 